{% extends 'base.html.twig' %}
{% form_theme form with ['inc/fields.html.twig', 'bootstrap_4_layout.html.twig'] %}


{% block title %}Questionnaire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Survey page {{ page }}</h1>

            {{ form_start(form) }}
            {{ form_row(form.responses) }}

            <button class="btn btn-success" type="submit">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
