{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Survey</h1>

            {% if 10 <= questions|length %}
                <a class="btn btn-success" href="{{ url('survey') }}">Start survey</a>
            {% else %}
                <div class="alert alert-primary">Sorry, survey is not ready yet</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
