{% extends 'base.html.twig' %}

{% block title %}Forbidden{% endblock %}

{% block body %}
    <div class="container">
        <h1>An Error Occurred</h1>

        <p>
            Something is broken. Please let us know what you were doing when this error occurred.
        </p>
    </div>
{% endblock %}
