{% extends 'base.html.twig' %}

{% block title %}Forbidden{% endblock %}

{% block body %}
    <div class="container">
        <h1>Access denied</h1>

        <p>
            Sorry, you have no access for this page.
        </p>
    </div>
{% endblock %}
