{% extends 'base.html.twig' %}

{% block title %}Forbidden{% endblock %}

{% block body %}
    <div class="container">
        <h1>Page not found</h1>

        <p>
            Sorry, this page was not found on server
        </p>
    </div>
{% endblock %}
